@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccesor

<ul class="navbar-nav">
    @{
        ViewBag.Username = @HttpContextAccesor.HttpContext.Session.GetString("Username");
        ViewBag.name = @HttpContextAccesor.HttpContext.Session.GetString("name");
    }

    @if (ViewBag.Username != null)
    {
        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-badge"></i> Hello @ViewBag.Username
            </button>
            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                <li>
                    <a class="dropdown-item" asp-controller="Master" asp-action="Index">
                        <i class="bi bi-list"></i> Orders
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="UserDetail" asp-action="Index">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Products" asp-action="Create">
                        <i class="bi bi-plus-circle"></i> Add Games
                    </a>
                </li>
               
                
                

            </ul>
        </div>
        <span style="padding: 5px;"></span>

        <form asp-controller="Admin" asp-action="Logout">
            <button class="btn btn-outline-danger my-2 my-sm-0">
                <i class="bi bi-box-arrow-in-right"></i> Log out
            </button>
        </form>
    }
    else if (ViewBag.name != null)
    {
        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-badge"></i> Hello @ViewBag.name
            </button>
            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                <li>
                    <a class="dropdown-item" asp-controller="Cart" asp-action="Index">
                        <i class="bi bi-list"></i> Cart
                    </a>
                </li>

            </ul>
        </div>
        <span style="padding: 5px;"></span>

        <form asp-controller="Admin" asp-action="Logout">
            <button class="btn btn-outline-danger my-2 my-sm-0">
                <i class="bi bi-box-arrow-in-right"></i> Log out
            </button>
        </form>
        
        
    }
    else
    {
        
        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-badge"></i> Login
            </button>

            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                <li>
                    <a class="dropdown-item" href="User/Login">
                        <i class="bi bi-list"></i> User
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="Admin/Login">
                        <i class="bi bi-person"></i> Admin
                    </a>
                </li>

            </ul>
        </div>
        <span style="padding: 5px;"></span>
        <li class="nav-item">
            <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="User" asp-action="Register">Register</a>
        </li>
    }
</ul>